name: sync-start-gg
run-name: Sync start.gg
on:
  workflow_call:
    inputs:
      TOURNAMENT_IDS:
        required: true
        type: string
    secrets:
      START_GG_API_KEY:
        required: true

jobs:
  extract:
    runs-on: ubuntu-20.04
    env:
      START_GG_API_KEY: ${{ secrets.START_GG_API_KEY }}
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 8
      - name: Use Node.js 18
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install
      - name: Build
        run: npm run build
      - name: Extract
        run: node packages/start-gg/dist/index.js ${{ inputs.TOURNAMENT_IDS }} > output/start-gg-tournaments.json
      - name: Upload output
        uses: actions/upload-artifact@v3
        with:
          name: start-gg-tournaments.json
          path: output/start-gg-tournaments.json
